/* .div{
  background-color: rgb(205, 172, 139); 
  background-color: rgb(197, 142, 86); 
  background-color: rgb(83, 55, 26); 
  background-color: rgb(133, 88, 41); 
  background-color: rgb(134, 98, 61); 
  
} */

td {
  padding: 0;
}
table {
  border-spacing: 0;
}
.floorFlan{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px black solid;
}
